<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright 2016 rails coldplay
    <br>activeliang
    <a href="www.baidu.com" targer=_new>coldplay</a>
  </p>


</footer>
